.article-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 22px rgba(0, 0, 0, 0.1);
}
.article-card > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 201px;
}
.article-card section {
  padding: 40px 39px 0 33px;
}
.article-card section h1 {
  font-size: 16px;
  color: var(--dark-gray-blue);
  font-weight: 700;
  margin-bottom: 18px;
}
.article-card section p {
  font-size: 13px;
  font-weight: 500;
  color: var(--desaturated-blue);
  line-height: 1.5;
  margin-bottom: 32px;
}
/* User & Share Button Wrapper  */
.article-card .profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 20px 33px;
}
.article-card .user-data {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 42px;
  font-size: 13px;
  width: 200px;
}
.article-card .user-data h2 {
  font-weight: 700;
  color: var(--dark-gray-blue);
  margin-bottom: 2px;
}
.article-card .user-data p {
  font-weight: 500;
  color: var(--gray-blue);
}
.article-card .profile-wrapper img {
  width: 41px;
  height: 41px;
  border-radius: 99999px;
  margin-right: 20px;
}
.article-card .social-links {
  width: 42px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transform-origin: 300px center;
  background-color: var(--dark-gray-blue);
  padding: 23px 39px 25px 33px;
  transition: all 0.5s;
  border-radius: 50%;
}
.article-card .social-links.expanded {
  transform: scale(1);
  width: 100%;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.article-card .social-links h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--desaturated-blue);
  letter-spacing: 3px;
  margin-right: 20px;
  margin-bottom: 3px;
}
.article-card .social-links ul {
  display: flex;
  align-items: center;
}
.article-card li {
  transition: all 0.2s;
}
.article-card li:hover {
  transform: translate(0, -3px);
}
.article-card .social-links li:not(:last-child) {
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .article-card {
    flex-wrap: wrap;
    width: 732px;
    max-height: 280px;
    overflow: visible;
  }
  .article-card section h1 {
    font-size: 18px;
  }
  .article-card > img {
    height: 280px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 285px;
  }
  .article-card section {
    width: 60%;
  }
  .article-card .social-links {
    border-radius: 10px;
    width: 248px;
    padding: 18px 0 12px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    right: -67px;
    box-shadow: 0 1px 24px var(--desaturated-blue);
    transform-origin: center 10px;
    transition-duration: 0.3s;
  }
  .article-card .social-links.expanded::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: var(--dark-gray-blue);
    position: absolute;
    bottom: -8px;
    z-index: -1;
    transform: rotate(45deg);
  }

  .article-card .social-links.expanded {
    transform: scale(1);
    width: 248px;
    border-radius: 10px;
    bottom: 84px;
  }
}
